@import "tailwindcss";

/* #root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.carousel-container {
  position: relative;
  height: 500px;
  overflow: hidden;
}
.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.grid.grid-cols-2.md:grid-cols-3.lg:grid-cols-5.gap-4 {
  justify-items: center;
}

.flex.items-center.gap-4 {
  gap: 32px;
}

.swiper-carousel {
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4), transparent);
  z-index: 1;
}

.slide-content {
  position: relative;
  z-index: 2;
  padding: 40px;
  max-width: 600px;
  color: white;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 16px;
}

.synopsis {
  margin-bottom: 16px;
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.score {
  margin-bottom: 12px;
}

.watch-button {
  display: inline-block;
  background-color: rgb(8, 8, 51);
  padding: 10px 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-decoration: none;
  border-radius: 12px;
  transition: background-color 0.3s;
}

.watch-button:hover {
  background-color: rgb(49, 49, 49);
}

.no-stream {
  color: #ccc;
  font-style: italic;
}

.anime-card {
  width: 160px;
  color: black;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  height: 240px;
  overflow: hidden;
  border-radius: 8px;
}

.anime-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.anime-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Opacity 50% */
  opacity: 0;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 0.3s ease;
  text-align: center;
}

.anime-card:hover .anime-overlay {
  opacity: 1;
}

.anime-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.anime-description {
  font-size: 12px;
  line-height: 1.2;
}

.anime-text-title {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.anime-subtext {
  font-size: 12px;
  color: #ccc;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}